@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
